<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-success">
      <div class="panel-heading">
        Publication
      </div>

      <div class="panel-body">

      <p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @subscription.user.email %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @subscription.publication.name %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
      </div>
    </div>
  </div>
</div>